<!-- Если есть задача выделить группы тестов, к-ые можно запускать по отдельности (наз-ся тестовые наборы или тест-сьюит). TestNG предлагает для описания
   таких тестовых наборов исп-ть конфигурационные файлы. Делаем сначала конф-ый файл, к-ый описывает все тесты вместе. Заготовку для него можно взять в
   документации http://testng.org/doc/documentation-main.html (3 - testng.xml).
      -->

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Groups" >
        <classes>
            <class name="ua.annalonskaya.addressbook.tests.GroupCreationTests" />          <!--тесты выполняются в строгом порядке по очереди -->
            <class name="ua.annalonskaya.addressbook.tests.ContactModificationTests" />
            <class name="ua.annalonskaya.addressbook.tests.GroupDeletionTests" />
        </classes>
    </test>

    <test name="Contacts">
        <classes>
            <class name="ua.annalonskaya.addressbook.tests.ContactCreationTests"/>
            <class name="ua.annalonskaya.addressbook.tests.ContactModificationTests"/>
            <class name="ua.annalonskaya.addressbook.tests.ContactDeletionTests"/>
            <class name="ua.annalonskaya.addressbook.tests.ContactAddressTests"/>
            <class name="ua.annalonskaya.addressbook.tests.ContactDetailedPageTests"/>
            <class name="ua.annalonskaya.addressbook.tests.ContactEmailTests"/>
            <class name="ua.annalonskaya.addressbook.tests.ContactPhoneTests"/>
        </classes>
    </test>
</suite>


